* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  height: 100vh;
}
.admin-header {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Center items horizontally */
  background: linear-gradient(90deg, #0d1b2a, #1b2631);
  padding: 10px; /* Add some padding */
  color: white;
  border-bottom: 4px solid #00a8e8;
}

.logo {
  display: flex;
  align-items: center; /* Align logo and text vertically */
}

.logo-image {
  height: 50px; /* Set height to ensure it fits well */
  margin-right: 10px; /* Space between logo and name */
}

.company-name {
  font-size: 1.5em; /* Adjust font size as needed */
  margin: 0; /* Remove default margin */
}

.register-left {
  flex: 1;
  background-color: #4a90e2; /* Red background color */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

/* .register-left h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.register-left p {
  font-size: 1.2em;
} */

.register-right {
  flex: 2;
  background-color: #f5f7fc; /* Light background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 20px;
}

.register-right h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.register-right form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.register-right input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-right button {
  padding: 12px;
  background-color: #4a90e2;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-right button:hover {
  background-color: #ff3e47;
}

.input-error {
  border-color: red;
}

.message {
  color: green;
}

.error-message {
  color: red;
}